
/* Alarms dialog styles */
.almFieldDiv {
    display: table;
    border: 1px solid #333333;
    color: white;
    border-radius: 4px;
    background-color: #222222;
    margin-top: 10px;
    margin-left: 12px;
    box-shadow: inset 1px 1px 5px #EEEEEE;
}

.almLegend {
    padding: 0.2em 0.5em;
    border: 1px solid white;
    color: #00ff00;
    font-size:100%;
    text-align:left;
    border-radius: 4px;
    background-color: #444444;
    box-shadow: inset 1px 1px 5px #EEEEEE;
    font-weight: bold;

}
.almContent {
    font-color: #fff;
    //height: 400px;
    
}

.alarm-dialog .ui-widget-content { 
    border: none; 
    background: none; 
}

.alarm-dialog .ui-widget-header { 
    border: none; 
    background: none; 
}

.alarm-dialog .ui-tabs .ui-tabs-panel {
    background: #000000;
    height: 280px; 
    /*
    border: 1px solid #38402D; 
    position: relative;
    min-height: 280px;
    height: auto !important;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    padding-top: 20px;
    */
}


#almGen1ID {
    float: left;
    width: 240px;
    /*
    //height: 300px;
    width: 240px;
    padding: 6px;
    box-shadow: inset 1px 1px 5px #EEEEEE;
    border: 2px solid #333;
    border-radius: 8px;
    //background-color: #222;
    */
}

#almGen2ID {
    float: right;
    width: 300px;
    /*
    //height: 300px;
    width: 320px;
    padding: 6px;
    box-shadow: inset 1px 1px 5px #EEEEEE;
    border: 2px solid #333;
    border-radius: 8px;
    //background-color: #222;
    */
}

.almResetAlarmsBtn {
    margin-left: auto;
    margin-right: auto;
}

.almTestEmailButton {
    margin-left: auto;
    margin-right: auto;
}

.almAlarmsLogWindow {
    float: left;
    width: 550px;
    height: 280px;
    background: #000000;
    color: #ffffff;
    box-shadow: inset 1px 1px 5px #EEEEEE;
    border: 2px solid #333;
    border-radius: 8px;
}


#almTemp1ID {
    top: 20px;
    float: left;
    /*
    //height: 400px;
    //width: 340px;
    padding: 10px;
    box-shadow: inset 1px 1px 5px #EEEEEE;
    border: 2px solid #333;
    border-radius: 8px;
    //font-size: 10px;
    */
}

#almTemp2ID {
    top: 20px;
    float: right;
    /*
    //height: 400px;
    //width: 340px;
    padding: 10px;
    box-shadow: inset 1px 1px 5px #EEEEEE;
    border: 2px solid #333;
    border-radius: 8px;
    //font-size: 10px;
    */
}
    
#almHumi1ID {
    top: 20px;
    float: left;
    //height: 400px;
    //width: 340px;
    /*
    padding: 10px;
    box-shadow: inset 1px 1px 5px #EEEEEE;
    border: 2px solid #333;
    border-radius: 8px; */
    //font-size: 10px;
}

#almHumi2ID {
    top: 20px;
    float: right;
    /*
    //height: 400px;
    //width: 340px;
    padding: 10px;
    box-shadow: inset 1px 1px 5px #EEEEEE;
    border: 2px solid #333;
    border-radius: 8px;
    //font-size: 10px;
    */
}

#almDoor1ID {
    top: 20px;
    float: left;
    /*
    //height: 400px;
    //width: 340px;
    padding: 10px;
    box-shadow: inset 1px 1px 5px #EEEEEE;
    border: 2px solid #333;
    border-radius: 8px;
    //font-size: 10px;
    */
}

#almDoor2ID {
    top: 20px;
    float: right;
    //height: 400px;
    //width: 340px;
    /*
    padding: 10px;
    box-shadow: inset 1px 1px 5px #EEEEEE;
    border: 2px solid #333;
    border-radius: 8px;
    //font-size: 10px;
    */
}

.almStatus1 {
    float: left;
    //height: 300px;
    width: 240px;
    padding: 6px;
    box-shadow: inset 1px 1px 5px #EEEEEE;
    border: 2px solid #333;
    border-radius: 8px;
    //background-color: #222;
}

.almStatus2 {
    float: right;
    //height: 300px;
    width: 320px;
    padding: 6px;
    box-shadow: inset 1px 1px 5px #EEEEEE;
    border: 2px solid #333;
    border-radius: 8px;
    //background-color: #222;
}

.almStatusTestEmailButton {
    margin-left: auto;
    margin-right: auto;
}